# This is Git's per-user configuration file.
[user]
	name = [NAME GOES HERE]
	email = [EMAIL GOES HERE]
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = false
[fetch]
	prune = true
[core]
	editor = code
[init]
	defaultBranch = main
